body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

label, #timer {
    font-size: 2em;
    margin: 20px;
}

button {
    background-color: #0e0175;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c86ee;
}

button:active {
    background-color: #187bcd;
}

.icon-container {
    color: blue;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 2em;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#cps-display {
    font-size: 2em;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#cps-display.visible {
    opacity: 1;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% { color: #4039cb; }
    50% { color: #ff0000; }
    100% { color: #ffffff; }
}

.hidden {
    display: none;
}
